doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet' href='/css/dialog.css')
    script(type="text/javascript", src="/js/jquery-1.10.1.min.js")
    script(type="text/javascript", src="/js/dialog.js")
  body
    block content
